service vendor.gatekeeper-hal /vendor/bin/hw/android.hardware.gatekeeper@1.0-service.rockchip
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    class hal
    user system
    group system
